html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	background: black;
}

.container {
	padding: 1%;
	width: 100%;
	height: 96%;
	box-sizing: inherit;
	/* border: solid white 2px; */
	border-radius: 0.5rem;
	overflow: hidden;
	float: left;
	text-align: center;
}

.container * {
	text-align: center;
	margin: auto;
}

#upper-container {
	display: block;
	height: 60%;
	padding: 1%;
	margin: 0;
}

#lower-container {
	display: block;
	height: 40%;
	padding: 1%;
	margin: 0;
}

#tube-canvas-container {
	min-width: 460px;
	min-height: 208px;
	height: 100%;
	width: 100%;
	position: relative;
}

#tube-canvas-container #tube-img,
#tube-canvas-container #tube-canvas {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	width: 100%;
	height: 100%;
}

#tube-canvas-container #tube-canvas {
	background: transparent;
	z-index: 5;
}

#graph-container {
	/* display: inline; */
	display: inline-block;
	width: 50%;
	height: 100%;
}

#controls-container {
	/* display: inline; */
	padding: 0;
	display: inline-block;
	width: 50%;
	height: 100%;
}
#controls-container #voltage-select {
	height: 60%;
	padding-bottom: 10%;
}

#controls-container #voltage-select .input-group {
	display: block;
	width: 80%;
	height: 50%;
	margin: auto;
}

#controls-container #voltage-select .input-group .control {
	display: block;
	/* margin-bottom: 10%; */
	width: 80%;
	height: auto;
}

#controls-container #voltage-select .input-group .range-label {
	display: block;
	margin-top: 5%;
	color: white;
	font-size: 130%;
}

#controls-container #material-select {
	text-align: center;
	color: white;
	margin-bottom: 2%;
	height: 35%;
	overflow: hidden;
}

#controls-container .input-group .radio-group {
	font-size: 130%;
	margin: 2%;
}

#tube-canvas-container,
#graph-container,
#material-select,
#voltage-select {
	box-sizing: border-box;
	border: solid white 2px;
	border-radius: 10px;
}
